.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: white;
    border-bottom: 2px solid #007bff;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #007bff;
}

.categories-dropdown select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-bar form {
    display: flex;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.logo img {
    height: 10px;
    width: auto;
}